In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('DataSets/Covid'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

### To read a dataset

In [2]:
df=pd.read_csv('../DataSets/Corona/corona_virus.csv', encoding="ISO-8859-1")

### To check a shape (number of rows & columns)of the dataset

In [3]:
print("Shape of the dataset:",df.shape)

Shape of the dataset: (232, 14)

### To check the head(first 5 row) of the dataset

In [4]:
print("Head of the dataset:")
df.head()

Head of the dataset:

,"Country,Other",Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,Total Tests,Tests/1M pop,Population
0,USA,"10,66,27,427",NaN,"11,59,824",NaN,"10,45,49,551",NaN,"9,18,052","1,368","3,18,476","3,464","1,17,68,34,935","35,14,983","33,48,05,269"
1,India,"4,49,39,515",NaN,"5,31,508",NaN,"4,43,56,693",NaN,"51,314",NaN,"31,948",378,"92,64,96,579","6,58,663","1,40,66,31,776"
2,France,"3,99,80,570",NaN,"1,66,556",NaN,"3,96,77,000",NaN,"1,37,014",869,"6,09,604","2,540","27,14,90,188","41,39,547","6,55,84,518"
3,Germany,"3,84,03,667",NaN,"1,73,044",NaN,"3,81,92,900",600,"37,723",NaN,"4,57,821","2,063","12,23,32,384","14,58,359","8,38,83,596"
4,Brazil,"3,74,49,418",NaN,"7,01,494",NaN,"3,62,49,161",NaN,"4,98,763",NaN,"1,73,897","3,257","6,37,76,166","2,96,146","21,53,53,593"

### Information(columnname & datatype) of datase

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country,Other     232 non-null    object
 1   Total Cases       232 non-null    object
 2   New Cases         5 non-null      object
 3   Total Deaths      226 non-null    object
 4   New Deaths        2 non-null      float64
 5   Total Recovered   211 non-null    object
 6   New Recovered     12 non-null     object
 7   Active Cases      213 non-null    object
 8   Serious,Critical  127 non-null    object
 9   Tot Cases/1M pop  230 non-null    object
 10  Deaths/1M pop     224 non-null    object
 11  Total Tests       213 non-null    object
 12  Tests/1M pop      213 non-null    object
 13  Population        229 non-null    object
dtypes: float64(1), object(13)
memory usage: 25.5+ KB

### Describe(statistical) detail of data

In [6]:
df.describe()

       New Deaths
count         2.0
mean          3.0
std           0.0
min           3.0
25%           3.0
50%           3.0
75%           3.0
max           3.0

### How to check a missing/null value in the dataset

In [7]:
print("Missing/null value in the our set:")
df.isnull().sum()

Missing/null value in the our set:

Country,Other         0
Total Cases           0
New Cases           227
Total Deaths          6
New Deaths          230
Total Recovered      21
New Recovered       220
Active Cases         19
Serious,Critical    105
Tot Cases/1M pop      2
Deaths/1M pop         8
Total Tests          19
Tests/1M pop         19
Population            3
dtype: int64