In [3]:
import pandas as pd

In [4]:
a = pd.read_csv("DataSets/Gradient/Expanded_data_with_more_features.csv")

In [5]:
a.head()

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75

In [6]:
a["Gender"] = a["Gender"].astype("category")

In [7]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           30641 non-null  int64
 1   Gender               30641 non-null  category
 2   EthnicGroup          28801 non-null  object
 3   ParentEduc           28796 non-null  object
 4   LunchType            30641 non-null  object
 5   TestPrep             28811 non-null  object
 6   ParentMaritalStatus  29451 non-null  object
 7   PracticeSport        30010 non-null  object
 8   IsFirstChild         29737 non-null  object
 9   NrSiblings           29069 non-null  float64
 10  TransportMeans       27507 non-null  object
 11  WklyStudyHours       29686 non-null  object
 12  MathScore            30641 non-null  int64
 13  ReadingScore         30641 non-null  int64
 14  WritingScore         30641 non-null  int64
dtypes: category(1), float64(1), int64(4), object(9)
memory usage: 3.3+ MB

In [8]:
a.loc[0]

Unnamed: 0                             0
Gender                            female
EthnicGroup                          NaN
ParentEduc             bachelor's degree
LunchType                       standard
TestPrep                            none
ParentMaritalStatus              married
PracticeSport                  regularly
IsFirstChild                         yes
NrSiblings                           3.0
TransportMeans                school_bus
WklyStudyHours                       < 5
MathScore                             71
ReadingScore                          71
WritingScore                          74
Name: 0, dtype: object

In [9]:
b = pd.read_csv("DataSets/Restaurants/restaurants.csv")

In [10]:
b

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
0,Local,"Scindia House,Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Finger Food, Continental",4.1,2415,2000
1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363,1500
2,Tamasha,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,2000
3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800
4,Chili's American Grill and Bar,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Mexican, American, Italian",4.4,1094,2000
...,...,...,...,...,...,...,...,...
6588,Shree Rathnam,"Wave Mall,BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,South Indian,4.1,20,600
6589,Cafe Delish,"Radisson Blu,Rajguru Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Continental, A...",4.4,48,3100
6590,3 K Resorts,"BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,North Indian,1.0,1,1100
6591,Dovka Bar,"Nirvana Hotel Banquets Club,PAU, Central Ludhiana",Central Ludhiana,Ludhiana,"North Indian, Chinese, Finger Food",4.3,3,1500
6592,Urban Vibes,"Aggar Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Italian, Chine...",3.8,12,2000

In [11]:
mask = b.duplicated(subset = ["Name", "Location", "Locality", "City", "Cuisine"])

In [12]:
b[mask]

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
1510,Chaayos - Meri Wali Chai,"Near Andheri West Station, Andheri West",Andheri West,Mumbai,Tea,4.5,8,500
1677,Tibbs Frankie,"High Street Phoenix Mall,Lower Parel, South Mu...",South Mumbai,Mumbai,Fast Food,3.7,3,200
1831,Urban Juice Cafe,"Vasai West, North Western",North Western,Mumbai,Fast Food,3.6,13,600
2093,Kanti Sweets,"Jayanagar, South Bangalore",South Bangalore,Bangalore,"Mithai, Desserts",4.0,6,500
2205,Sandwichwallas,"Jayanagar, South Bangalore",South Bangalore,Bangalore,"Fast Food, Pizza, Shakes",5.0,2,300
2227,Kanti Sweets,"RT Nagar, North Bangalore",North Bangalore,Bangalore,"Mithai, Desserts",4.0,3,500
2505,Jeff's,"Hotel Royal Orchid,Old Airport Road, East Bang...",East Bangalore,Bangalore,Continental,4.2,27,2500
2635,California Burrito,"Marathahalli, East Bangalore",East Bangalore,Bangalore,"Mexican, Fast Food",4.0,9,500
2650,Kanti Sweets,"Jalahalli, North Bangalore",North Bangalore,Bangalore,"Mithai, Desserts",5.0,1,500
2651,Kanti Sweets,"Rajarajeshwari Nagar, West Bangalore",West Bangalore,Bangalore,"Mithai, Desserts",4.0,1,500
2656,California Burrito,"Marathahalli, East Bangalore",East Bangalore,Bangalore,"Mexican, Fast Food",4.5,13,500
2657,Chef Baker's,"Marathahalli, East Bangalore",East Bangalore,Bangalore,"Bakery and Confectionary, Desserts, Fast Food",4.8,4,600
2678,Kanti Sweets,"KR Puram, East Bangalore",East Bangalore,Bangalore,"Mithai, Desserts",3.0,1,500
2708,Kanti Sweets,"Electronic City, South Bangalore",South Bangalore,Bangalore,"Mithai, Desserts",5.0,4,500
2767,Cake Dilim,"Doddanekundi, East Bangalore",East Bangalore,Bangalore,"Bakery and Confectionary, Desserts",3.5,2,400
2771,California Burrito,"Sarjapur Road, South Bangalore",South Bangalore,Bangalore,"Mexican, Fast Food",3.2,4,500
2794,Cake Dilim,"Whitefield, East Bangalore",East Bangalore,Bangalore,"Bakery and Confectionary, Desserts",4.0,2,400
2805,Kanti Sweets,"Yelahanka, North Bangalore",North Bangalore,Bangalore,"Mithai, Desserts",4.5,2,500
2832,Kanti Sweets,"Bannerghatta Road, South Bangalore",South Bangalore,Bangalore,"Mithai, Desserts",5.0,2,500
2839,Cake Dilim,"Sarjapur Road, South Bangalore",South Bangalore,Bangalore,"Bakery and Confectionary, Desserts",5.0,1,400
2877,Murugan Idli Shop,"Thyagaraya Nagar, Central Chennai",Central Chennai,Chennai,South Indian,2.9,2,300
2879,Murugan Idli Shop,"Thyagaraya Nagar, Central Chennai",Central Chennai,Chennai,South Indian,3.0,1,300
3047,Dindigul Thalappakatti,"Anna Nagar, North Chennai",North Chennai,Chennai,"Multi-Cuisine, North Indian, Chinese, South...",4.2,27,700
3363,Cream Stone,"Banjara Hills, Central East Hyderabad",Central East Hyderabad,Hyderabad,"Desserts, Ice Cream, Shakes",4.2,17,400
4310,The Sugarr and Spice,"Salt Lake, East Kolkata",East Kolkata,Kolkata,"Desserts, Bakery and Confectionary, Fast Food",4.0,1,300
4436,Wow! Momo,"Lake Town, East Kolkata",East Kolkata,Kolkata,"Fast Food, Tibetan",4.3,9,400
4459,Wow! Momo,"Camac Street, Central Kolkata",Central Kolkata,Kolkata,"Fast Food, Tibetan",3.4,19,400
4474,Wow! Momo,"Salt Lake, East Kolkata",East Kolkata,Kolkata,"Fast Food, Tibetan",3.1,2,400
4591,Wow! Momo,"Ballygunge, South Kolkata",South Kolkata,Kolkata,"Fast Food, Tibetan",3.0,3,400
4795,Wow! Momo,"Tollygunge, South Kolkata",South Kolkata,Kolkata,"Fast Food, Tibetan",4.1,32,400
4820,The Sugarr and Spice,"Behala, South Kolkata",South Kolkata,Kolkata,"Desserts, Bakery and Confectionary, Fast Food",4.0,2,300
4841,Wow! Momo,"Behala, South Kolkata",South Kolkata,Kolkata,"Fast Food, Tibetan",4.6,13,400
4854,Wow! Momo,"Garia, South Kolkata",South Kolkata,Kolkata,"Fast Food, Tibetan",3.8,5,400
4856,The Sugarr and Spice,"Naktala, South Kolkata",South Kolkata,Kolkata,"Desserts, Bakery and Confectionary",4.0,1,300
4861,Wow! Momo,"Garia, South Kolkata",South Kolkata,Kolkata,"Fast Food, Tibetan",3.0,2,400
4864,The Chennai Dhaba,"Baghajatin, South Kolkata",South Kolkata,Kolkata,South Indian,1.0,1,300
4870,Chowman,"Garia, South Kolkata",South Kolkata,Kolkata,"Asian, Chinese, Thai, Seafood, Oriental",4.4,16,900
4876,Wow! Momo,"Sodepur, 24 Parganas North",24 Parganas North,Kolkata,"Fast Food, Tibetan",3.6,28,400
4883,Wow! Momo,"Hooghly, North Kolkata",North Kolkata,Kolkata,"Fast Food, Tibetan",1.0,1,400
4897,Monginis,"Hooghly, North Kolkata",North Kolkata,Kolkata,"Desserts, Bakery and Confectionary, Fast Food",4.1,7,200
5263,Kabhi B,"Chandkheda, North Ahmedabad",North Ahmedabad,Ahmedabad,"Desserts, Bakery and Confectionary, Fast Food",3.0,2,200
5300,Shree Marutinandan,"Naroda, North Ahmedabad",North Ahmedabad,Ahmedabad,"Multi-Cuisine, North Indian, Chinese, Gujarati",3.8,6,700
5628,Navtara,"Calangute, North Goa",North Goa,Goa,"Multi-Cuisine, North Indian, South Indian, ...",4.2,62,500
5629,Navtara,"Mapusa, North Goa",North Goa,Goa,"Multi-Cuisine, North Indian, South Indian, ...",3.8,18,500
6168,Chai Kaapi,"Vijay Nagar, East Indore",East Indore,Indore,"Fast Food, Tea",4.5,9,400
6186,Chai Kaapi,"Indore By Pass Road, East Indore",East Indore,Indore,"Fast Food, Tea",3.0,2,400

In [13]:
b["Cost"].sum()

7270749

In [14]:
b["Cost"].mean()

1102.7982708933719

In [15]:
b.head()

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
0,Local,"Scindia House,Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Finger Food, Continental",4.1,2415,2000
1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363,1500
2,Tamasha,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,2000
3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800
4,Chili's American Grill and Bar,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Mexican, American, Italian",4.4,1094,2000

In [16]:
b.reset_index(inplace = True)

In [17]:
m = b.duplicated(subset = ["Name", "Location", "City", "Cuisine"])

In [18]:
b.drop_duplicates(subset = ["Name", "Location", "City", "Cuisine"])

,index,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
0,0,Local,"Scindia House,Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Finger Food, Continental",4.1,2415,2000
1,1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363,1500
2,2,Tamasha,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,2000
3,3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800
4,4,Chili's American Grill and Bar,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Mexican, American, Italian",4.4,1094,2000
...,...,...,...,...,...,...,...,...,...
6588,6588,Shree Rathnam,"Wave Mall,BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,South Indian,4.1,20,600
6589,6589,Cafe Delish,"Radisson Blu,Rajguru Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Continental, A...",4.4,48,3100
6590,6590,3 K Resorts,"BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,North Indian,1.0,1,1100
6591,6591,Dovka Bar,"Nirvana Hotel Banquets Club,PAU, Central Ludhiana",Central Ludhiana,Ludhiana,"North Indian, Chinese, Finger Food",4.3,3,1500
6592,6592,Urban Vibes,"Aggar Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Italian, Chine...",3.8,12,2000